*{
  font-family: "Times New Roman", Times, serif;
}

h1{
text-transform: uppercase;
color: yellow ;
background-color: pink;
text-align: center;
padding: 20px;
font-weight: 100;
font-size: 50px;
letter-spacing: 1px;
word-spacing: 4px;

}

h4, h3 {
    text-transform: uppercase;
}

a{
   text-decoration: none; 
   text-transform: uppercase;
   color: darkolivegreen;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

  .column{
   width: 32.33%;
   float: left;

  }
  .col {
    width: 50%;
    float: left;
  }

  .col > img {
    width: 95%;
    height: 300px;
  }
  .column > img {
    width: 95%;
    height: 250px;
  }

  .column > p {
    padding-right: 20px;
  }
  .column > h4 {
    font-size: 18px;
    color: brown;
  }